@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");

$fontPrimary: "Chilanka", cursive;

$colorRed: #da1205;
$colorSilver100: #f8f9fa;
$colorSilver200: #eceef0;
$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #c4c4c4;

$shadowBlack: (0px 4px 4px rgba(0, 0, 0, 0.25));
$shadowBlack2: (0px 8px 8px rgba(0, 0, 0, 0.5));
$shadowBlack3: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$shadowWhite: 0px 4px 10px 0px #fff;

$gradientRed: linear-gradient(180deg, rgba(218, 18, 5, 0.6) 0%, $colorRed 100%);

:root {
  --font-fam: #{$fontPrimary};
  --red: #{$colorRed};
  --silver100: #{$colorSilver100};
  --silver200: #{$colorSilver200};
  --white: #{$colorWhite};
  --black: #{$colorBlack};
  --gray: #{$colorGray};
  --shadowBlack: #{$shadowBlack};
  --shadowBlack2: #{$shadowBlack2};
  --shadowBlack3: #{$shadowBlack3};
  --shadowWhite: #{$shadowWhite};
  --gradientRed: #{$gradientRed};
}
