.card {
  padding: 35px 0 0;
  border: 1px solid red;
  cursor: pointer;
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    border-radius: 10px;
    box-shadow: var(--shadowBlack);
    background-color: var(--silver100);
    position: relative;
    padding: 10px;
    &__number,
    &__name {
      text-shadow: var(--shadowBlack);
      color: var(--black);
    }
    &__number {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      text-align: left;
      padding-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
    }
    &__name {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
      text-align: left;
      font-size: 18px;
      line-height: 20px;
    }
    &__image {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      position: absolute;
      top: -170%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 65px;
      width: 100%;
    }
    &__types {
      grid-column: 1 / span 2;
      grid-row: 3 / span 2;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 10px;
    }
  }
}
