.home {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  text-align: center;
  &__search,
  &__selects {
    padding: 0 20px;
  }
  &__cards {
    padding: 30px 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}
